.recharge-container {
  background: hsl(246, 15%, 48%);
  padding: 10px 0px 0px 0px;
  a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
  }
  .fn-stepper-wrapper {
    padding-top: 30px;
  }
}
