<mat-horizontal-stepper
  labelPosition="bottom"
  class="fn-horizontal-stepper"
  [selectedIndex]="stepIndex"
  [@.disabled]="true"
  [disableRipple]="true"
  [linear]="false"
  #stepper
>
  <ng-container *ngFor="let step of config.steps; let i = index">
    <mat-step
      #matStep
      [stepControl]="step?.formGroup"
      [hasError]="step?.hasError"
      [optional]="step?.isOptional"
      [label]="step?.stepLabel"
    >
      <ng-container *ngIf="true">
        <ng-container *ngTemplateOutlet="step.stepTemplate"></ng-container>
      </ng-container>
    </mat-step>
  </ng-container>
</mat-horizontal-stepper>
