<div class="summary-detail">
  <h3>Recharge Done Successfully</h3>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Name of the customer</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">Anas Khan</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Biller Name</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">AIRTEL</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Consumer Number</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">9372275520</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Mobile No.</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">9372275520</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Payment mode</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">Cash</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Payment through</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">Internet</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Bill Date</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">08.04.2022/11:44:23</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Transaction ID.</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">20981217111097</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Recharge Amount</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">10</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Customer Convenience Fee</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">0</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">CGST</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">0</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">SGST</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">0</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">IGST</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">0</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">UGST</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">0</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Total GST</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">0</div>
      </div>
    </div>
  </div>
  <div class="readonly-custom">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="readonly-custom-label">Transaction Date / Time</div>
      </div>
      <div class="col-1">:</div>
      <div class="col-4">
        <div class="readonly-custom-value">10.04.2022/12:43:14</div>
      </div>
    </div>
  </div>
  <p class="text-center mb-3">
    SMS send to Customer's registered Mobile Number
  </p>
  <div class="text-center">
    <fn-button>Finish</fn-button>
  </div>
</div>
