<ng-container *ngIf="!confirmationOtp; else otpContainer">
  <div class="confirmation-detail">
    <div class="row pb-4">
      <div class="col-md-5">
        <div class="row">
          <div class="col-5">
            <h6 class="header-text">Customer Mobile</h6>
          </div>
          <div class="col-4">
            <p class="m-0">{{ rechargeData?.phoneNumber }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-5">
            <h6 class="header-text">Service Provider</h6>
          </div>
          <div class="col-4">
            <p class="m-0">{{ rechargeData?.serviceProvider }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-5">
        <div class="row">
          <div class="col-5">
            <h6 class="header-text">Topup Mobile</h6>
          </div>
          <div class="col-4">
            <p class="m-0">{{ rechargeData?.phoneNumber }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-5">
        <div class="row">
          <div class="col-5">
            <h6 class="header-text">Amount</h6>
          </div>
          <div class="col-4">
            <p class="m-0">{{ rechargeData?.amount }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-5">
            <h6 class="header-text">Charges(Including GST)</h6>
          </div>
          <div class="col-4">
            <p class="m-0">0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-md-5">
        <div class="row">
          <div class="col-5">
            <h6 class="header-text">Net Amount</h6>
          </div>
          <div class="col-4">
            <p class="m-0">{{ rechargeData?.amount }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-5">
            <h6 class="header-text">Payment By Cash</h6>
          </div>
          <div class="col-4">
            <p class="m-0">{{ rechargeData?.amount }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #otpContainer>
  <div class="otp-confirmation">
    <div>
      <div class="otp-input-field">
        <label class="pe-2">
          <img
            class="img-fluid pe-2"
            src="../../../../assets/OTP-Icon.png"
          />Enter OTP:</label
        >
        <input type="text" />
      </div>
      <p class="resend-link">
        Not received OTP yet?
        <a class="text-dark" href="#">Resend</a>
      </p>
    </div>
  </div>
</ng-template>
<div class="d-flex justify-content-end">
  <div>
    <fn-button
      buttonType="button"
      (onClick)="!confirmationOtp ? btnAction('prev') : toggleOtpValue()"
      >Previous</fn-button
    >
    &nbsp;
    <fn-button
      buttonType="button"
      (onClick)="confirmationOtp ? btnAction('next') : toggleOtpValue()"
      >Next</fn-button
    >
  </div>
</div>
